/* class selectors */

/* fading classes */

.focusfader{
	opacity:0.75;
	transition:opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}
.focusfader:focus{
	opacity:1;
}
.totalfocusfader{
	opacity:0;
	transition:opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
}
.totalfocusfader:focus{
	opacity:1;
}
.hoverfader{
	opacity:0.75;
	transition:opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}
.hoverfader:hover{
	opacity:1;
}
.totalhoverfader{
	opacity:0;
	transition:opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
}
.totalhoverfader:hover{
	opacity:1;
}

/* element classes */

div.pillar{
	height:95vh;
	width:35vw;
	margin: auto;
    border:3px solid black;
    padding: 10px;
	background-color: #6e91b2;
	position:relative;
}

/* bevel classes */

.heavybeveled{
	border-radius:25px;
}
.lightbeveled{
	border-radius:10px;
}

/* margin classes */

.defaultmargins{
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* text size classes */

.largetext{
	font-size: 2em;
}
.mediumtext{
	font-size: 1.5em;
}
.smalltext{
	font-size: 1em;
}

/* tag selectors */

body{
	background-image:url("../res/images/nightSkyMountainWallpaper.jpg");
	background-size: 100vw 100vh;
	color:white;
	font-family:"Open Sans Condensed";
	line-height: 50%;
}

/* id selectors */

#scoreCounterArea {
	position:absolute;
	left:4vw;
	top:0vh;
}

#decimalChooserArea {
	position:absolute;
	right:4vw;
	top:0vh;
}

#aboutLink {
	position:absolute;
	right:3vw;
	bottom:8vh;
	font-size: 1.5em;
}