body{
	background-image: url('../res/images/virusBackground.jpg');
	color:white;
	background-size: 100vw 100vh;
	font-family:"Inconsolata";
}
/*http://i.huffpost.com/gadgets/slideshows/331895/slide_331895_3306902_free.jpg
http://i.huffpost.com/gen/1551844/images/o-VIRUS-PHOTOS-facebook.jpg*/

input{
	border-radius: 10px;
	font-size:2em;
	background-color: #88b561;
}

#imageCitation {
	position: fixed;
	left:75vw;
	top:95vh;
	font-size:1.5vh;
}