

.inputContainer textarea {
  box-sizing: border-box; /* fit parent width */
  height: 100%;
  width: 100%;
}

.inputContainer {
	flex:1;
	flex-direction: column;
	height:50%;
}

.renderContainer {
	flex:2;
	font-size:1.5em;
	font-family: 'Playfair Display', serif;
	overflow:auto;
}

.headerContent {
	text-align: center;
}

body {
	background-color:#fce198;
}

button {
	//height: 5vh;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
}

h1 {
	text-align: center;
	font-family: 'Playfair Display', serif;
}

section {
  display: -webkit-flex;
  display: flex;
  height: 75vh;
}

textarea {
	white-space: pre-wrap;
}